<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sdf.core.mapper.system.SysFileUrlDao">

    <!--<resultMap id="BaseResultMap" type="com.sdf.core.pojo.system.SysFileUrl">
        <constructor>
            <arg column="file_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_type" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="table_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="table_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="file_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="is_img" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="is_thumb" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="status" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="is_delete" javaType="java.lang.Boolean" jdbcType="BIT"/>
            <arg column="create_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="update_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="create_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="update_user" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="create_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
            <arg column="update_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        </constructor>
    </resultMap>-->

    <sql id="insertColumns">t.file_name, t.file_type, t.table_id, t.table_name, t.file_url, t.is_img, t.is_thumb, t.tatus, t.is_delete, t.create_id,t.update_id, t.create_user, t.update_user,t.create_time, t.update_time</sql>

    <sql id="tableName"> sys_file_url t </sql>

    <insert id="insert" parameterType="com.sdf.core.pojo.system.SysFileUrl">
        insert into sys_file_url (<include refid="insertColumns"/>)
        values (#{fileName}, #{fileType}, #{tableId},#{tableName}, #{fileUrl}, #{isImg},#{isThumb}, #{status},
        #{isDelete}, #{createId},#{updateId}, #{createUser}, #{updateUser},#{createTime}, #{updateTime})
    </insert>
</mapper>