<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdf.core.mapper.system.SysUserDao">

    <!--<resultMap id="BaseResultMap" type="com.sdf.core.pojo.system.SysUser">
        <constructor>
            <arg column="desc" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="phone" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="code" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="password" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="role_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="status" jdbcType="INTEGER" javaType="java.lang.Boolean"/>
            <arg column="is_delete" jdbcType="INTEGER" javaType="java.lang.Boolean"/>
            <arg column="create_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="update_id" jdbcType="INTEGER" javaType="java.lang.Integer"/>
            <arg column="create_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="update_user" jdbcType="VARCHAR" javaType="java.lang.String"/>
            <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
            <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date"/>
        </constructor>
    </resultMap>-->

    <sql id="allColumns"> desc, name, phone,code, password, role_id,status, is_delete, create_id,update_id, create_user, update_user,create_time, update_time </sql>

    <insert id="insert" parameterType="com.sdf.core.pojo.system.SysUser">
        insert into sys_user (<include refid="allColumns"/>)
        values (#{desc}, #{name}, #{phone},#{code}, #{password}, #{roleId},#{status}, #{isDelete},
        #{createId},#{updateId}, #{createUser}, #{updateUser},#{createTime}, #{updateTime})
    </insert>

    <select id="selectByCode" resultType="com.sdf.core.pojo.system.SysUser" parameterType="String">
        select
        <include refid="allColumns"/>
        from sys_user where code = #{code}
    </select>

    <select id="selectById" resultType="com.sdf.core.pojo.system.SysUser" parameterType="int">
        select
        <include refid="allColumns"/>
        from sys_user where id = #{code}
    </select>

</mapper>